<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <span class="navbar-text d-none d-md-inline">Software Engineer</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item {% if page.url == '/' or page.url == '/index.html' %}active{% endif %}">
            <a class="nav-link" href="{{ site.baseurl }}/"><i class="fas fa-th-large"></i> Blog</a>
          </li>
          {% for p in site.pages %}
            {% if p.title %}
              <li class="nav-item {% if p.url == page.url %}active{% endif %}">
                <a class="nav-link" href="{{ p.url | prepend: site.baseurl }}"><i class="fas {{ p.icon }}"></i> {{ p.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>